.interna_contato {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

/* Orçamento */
.contato {
  padding: 40px 0px;
}

.contato_form {
  padding-right: 60px;
}

.contato_form label {
  display: block; /* itens em bloco */
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato_form input,
textarea {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none; /* estilo de marcação do input selecionado */
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}

.contato_form textarea {
  height: 120px;
}

.contato_form button {
  background: none;
  padding: 7px 40px;
}

/* rigth */
.orcamento_dados {
  color: #fff;
}

.contato_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  color: #fec63e;
  font-weight: bold;
}

.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Selecionar 'span' especifico | 'even' - Pega os pares | Not list */
.contato_dados span:nth-of-type(even) {
  margin-bottom: 30px;
}

.dados_email {
  margin-bottom: 40px;
}

.contato_dados ul {
  margin-top: 10px;
}

.contato_dados ul li {
  display: inline-block;
  margin-right: 20px;
}

.contato_dados ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 5px;
}

.contato_dados ul li a:hover {
  border-color: #000;
}

.contato_map {
  margin-bottom: 60px;
}
